* {
    font-family: Helvetica;
}

header {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background-color: rgb(60, 76, 92);
}

.MS {
    display: inline;
    position: relative;
    margin: 8px 0px;
    padding: 0px 6px 0px 35px;
    background-color: #84c7c6;
    color: rgb(60, 76, 92);
}

ul {
    list-style-type: none;
    padding: 0 20px 0 0;
}

li {
    display: inline;
    padding: 10px;
}

a {
    color: #84c7c6;
}

.background-image {
    height: 338px;
    width: 1888px;
    margin: 0;
}

